@model IEnumerable<HospitalManagement.Models.AppointmentHistory>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header space">
    <h2>Appointment History</h2>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Sl. No.</th>
            <th>Department</th>
            <th>Doctor Name</th>
            <th>Patient Name</th>
            <th>Email Id</th>
            <th>Conatct No</th>
            <th>Appointment Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var appointmentHistory in Model)
        {
            <tr>
                <td>@appointmentHistory.HeadAppointmentKey</td>
                <td>@appointmentHistory.ServiceName</td>
                <td>@appointmentHistory.DoctorName</td>
                <td>@appointmentHistory.FullName</td>
                <td>@appointmentHistory.Email</td>
                <td>@appointmentHistory.PhoneNumber</td>
                <td>@appointmentHistory.AppointmentDate</td>
            </tr>
        }
    </tbody>
</table>
